.host-container {  
   display: flex;
   flex-direction: row;   
   background-color: red;
   margin: 20px; 
   padding: 20px; 
}

.panel {
  width: 400px;   
  min-height: 400px;   
  background-color: #DADADA;
  margin-right: 20px;
  padding: 20px;
  .frm {
    padding-top: 20px;
  }
}

.react-container {
  width: 400px;   
  min-height: 400px;   
  background-color: yellow;
  margin-right: 20px;
}