<div class="host-container">
    <div class="panel">
        <label>{{model.componentTitle}} Current state elements: {{store.store.getState().length}}</label>
        <div class="frm">
            <input type="text" [(ngModel)]="val"/>
            <button (click)="onAdd()">Add</button>
            <button (click)="onRemove()">Remove</button>
        </div>
        <ul>
           <li *ngFor="let item of store.store.getState()">{{item}}</li>           
        </ul>    
    </div>    
    <div class="react-container" id="react-component-container">
    </div>
    <div class="react-container" id="react-component-container-2">
    </div>
    <my-form></my-form>
</div>
