form {
  margin-bottom: 20px;
  padding: 100px;
  background-color: #eeeeee;
  &:hover {
    background-color: #d8f0ff;
    /deep/ date-control input {
      background-color: #d8f0ff !important;
    }
  }
  input {
    background-color: #E6FFEF;
  }
}