<form [formGroup]="myForm">

    <label>Date One:</label>
    <date-control #date1
        [required]="true"
        [allowFutureDate]="false">
    </date-control>

    <label>Date Two:</label>
    <date-control #date2
        [allowFutureDate]="false">
    </date-control>

    <label>Date Three:</label>
    <date-control #date3
        [allowFutureDate]="false">
    </date-control>

    <label>Basic Input:</label>
    <input type="text" value="basic input"/>

    <div *ngIf="!hidden">
        <label>Date Four:</label>
        <date-control #dynamic
            [allowFutureDate]="false">
        </date-control>
        <label>Name:</label>
        <name-control #dynamic></name-control>
    </div>

    <button type="submit" (click)="onSubmit(myForm.value)"
        [disabled]="!myForm.valid">Submit</button>

    <button (click)="onToggle()">Toggle Hidden Part</button>

</form>